.modeToggle {
  display: block;
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius-III);
  color: var(--color-II);
  width: 2rem;
  font-size: 1.15rem;
  padding: calc(var(--padding-vertical) / 4 ) 2rem!important;
  text-align: center;
  position: relative;
  bottom: calc( var(--margin-vertical) * 2 );
  right: calc( var(--margin-vertical) * 1.5 );

  @media (orientation: landscape) {
    bottom: initial;
  }

  @media (min-width: 768px) {
    position: initial; bottom: initial; right: initial;
  }

  &:focus-visible {
    color: var(--link-color-focus-II);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--link-color-hover-II);
    }
  }    
}