:root {
    
  /* TYPOGRAPHY */

  --font-size: 16px;
  --line-height: 1.75rem;

  /* SPACING */

  --max-width: 55rem;
  --max-width-II: 60rem;
  --margin-vertical: 1rem;
  --margin-horizontal: 1rem;
  --padding-horizontal: 1rem;
  --padding-vertical: 1rem;
  
  --border-radius: 0;
  --border-radius-II: 4px;
  --border-radius-III: 10px;
  --border-radius-IV: 50px;

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!! LIGHT MODE !!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

  /* FONT COLORS */

   --color: #333333;
   --color-heading: #0A0A0A;

   --color-II: ;
   --color-heading-II: ;

   --color-III: ;
   --color-heading-III: ;

   /* BACKGROUND COLORS */

   --background-color: #fefefe;
   --background-color-II: #EEEEEE;
   --background-color-III: #e0e7ff;
   --background-color-IV: #EEEEEE;
   
   /* INTERACTIVE */

   --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
   --box-shadow-II: 0 4px 8px rgba(0, 0, 0, 0.6);
   --box-shadow-reverse: 0 4px 4px rgba(255, 255, 255, 0.8);
   
   --border: 1px solid #000;
   --border-II: 1px solid #333333;
   --border-custom: 1px solid #DDDDDD;

   /* BUTTONS */

   --button-color: #FFFFFF;
   --button-color-hover: #FFFFFF;
   --button-color-focus: #FFFFFF;
   --button-color-disabled: #6B7B8A;

   --button-bg: #0A0A0A;
   --button-bg-hover: #000000;
   --button-bg-focus: #000000;
   --button-bg-disabled: #90A4AE;

   --button-color-II: #FFFFFF;
   --button-color-hover-II: #FFFFFF;
   --button-color-focus-II: #FFFFFF;

   --button-bg-II: linear-gradient(to bottom,#333333,#000000);
   --button-bg-hover-II: linear-gradient(to bottom, #555555, #000000, #000000);
   --button-bg-focus-II: linear-gradient(to bottom, #555555, #000000, #000000);
   
   /* LINKS */

   --link-color: #1a73e8;
   --link-color-hover: #0A2580;
   --link-color-focus: #0A2580;
   --link-color-visited: #012180;

   --link-color-II: #FFFFFF;
   --link-color-hover-II: #1a73e8;
   --link-color-focus-II: #1a73e8;

   --link-bg-focus: #FFFFFF;

   /* INPUT */

   --input-color: #111111;
   --input-color-focus: #000000;
   --input-color-invalid: #D32F2F; 
   --input-color-error-message: transparent; 
   --input-color-error-message-focus: #C62828; 

   --input-bg: #E0E0E0;
   --input-bg-focus: #FFFFFF;

   /* OUTLINES */

   --outline-button-focus: 3px solid #1565C0;
   --outline-link-focus: 2px solid #1565C0;
   --outline-input-focus: 1px solid none;
   --outline-input-invalid: 2px solid #D32F2F;
}

.dark {
  
  /* FONT COLORS */

  --color: #F0F0F0;
  --color-heading: #FFFFFF;

  --color-II: ;
  --color-heading-II: ;

  --color-III: ;
  --color-heading-III: ;

  /* BACKGROUND COLORS */

  --background-color: #0A0A0A;
  --background-color-II: #000000;
  --background-color-III: #000000;
  --background-color-IV: #111111;

  /* INTERACTIVE */
  
  --box-shadow: 0 4px 4px rgba(255, 255, 255, 0.4);
  --box-shadow-II: 0 4px 4px rgba(0, 0, 0, 0.95);
  --box-shadow-reverse: none;
  --border: 1px solid  #FFF;
  --border-II: none;
  --border-III: ;

  /* BUTTONS */

  --button-color: #000000;
  --button-color-hover: #FFFFFF;
  --button-color-focus: #FFFFFF;
  --button-color-disabled: #B0BEC5;

  --button-bg: #ffffff;
  --button-bg-hover: #000000;
  --button-bg-focus: #000000;
  --button-bg-disabled: #757575;

  --button-color-II: #FFFFFF;
  --button-color-hover-II: #FFFFFF;
  --button-color-focus-II: #FFFFFF;

  --button-bg-II: linear-gradient(to bottom, #333333, #000000);
  --button-bg-hover-II: linear-gradient(to bottom, #555555, #000000, #000000);
  --button-bg-focus-II: linear-gradient(to bottom, #555555, #000000, #000000);

  /* LINKS */

  --link-color: #1E88E5;
  --link-color-hover: #1565C0;
  --link-color-focus: #1565C0;
  --link-color-visited: #1565C0;

  --link-color-II: #FFFFFF;
  --link-color-hover-II: #1a73e8;
  --link-color-focus-II: #1a73e8;

  --link-bg-focus: #101010;
  
  /* INPUT */

  --input-color: #E0E0E0;
  --input-color-focus: #FFFFFF;
  --input-color-invalid: #ff9999;
  --input-color-error-message: transparent;
  --input-color-error-message-focus: #ff9999;

  --input-bg: #1C1C1C;
  --input-bg-focus: #333333;

  /* OUTLINES */

  --outline-button-focus: 2px solid #FFFFFF;
  --outline-link-focus: 2px solid #FFFFFF;
  --outline-input-focus: 2px solid transparent;
  --outline-input-invalid: 2px solid #ff6666; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    font-size: var(--font-size);
    font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
    line-height: var(--line-height);
    overflow-x: hidden;
    color: var(--color);
}

main, footer {
  transition: transform 0.3s ease;

  &.noTransition {
    @media (min-width: 768px) {
      transition: none;
    }
  }
}

body.menuOpen footer,
body.menuOpen main {
  transform: translateX(calc(11rem - 1px));
  pointer-events: none;

  @media (orientation: landscape) {
    transform: translateX(calc( 100% + 1px ));
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat), Helvetica, Arial, sans-serif;
  color: var(--color-heading);
}

h1 { font-size: 1.5rem; }    
h2 { font-size: 1.25rem; }  
h3 { font-size: 1.125rem; }  
h4 { font-size: 1.0625rem; } 
h5 { font-size: 1rem; }      
h6 { font-size: 0.95rem; }   

@media (min-width: 360px) {
  h1 { font-size: 1.75rem; line-height: 1.5; }   
  h2 { font-size: 1.375rem; line-height: 1.5}  
  h3 { font-size: 1.25rem; }   
  h4 { font-size: 1.125rem; }  
  h5 { font-size: 1rem; }
  h6 { font-size: 0.95rem; }
}


@media (min-width: 768px) {
  h1 { font-size: 2.55rem; line-height: 1.75; }
  h2 { font-size: 2.25rem; line-height: 1.5; }
  h3 { font-size: 1.75rem; line-height: 1.35; }
  h4 { font-size: 1.5rem; line-height: 1.25; }
  h5 { font-size: 1.25rem; line-height: 1.2; }
  h6 { font-size: 1rem; line-height: 1; }
}

ul { list-style: none; } 

a { text-decoration: none; }

button, a, footer, header { 
    -webkit-tap-highlight-color: transparent; 
    cursor: pointer; 
    white-space: nowrap; 
    font-family: var(--font-montserrat), Helvetica, Arial, sans-serif;
} 