@use "@/app/sectionContainer" as *;

@use "@/app/sectionContainer";

.section {
  @include sectionContainer;
}


  .landing {
    margin-bottom: 0;

    @media (min-width: 1024px) {
      margin-top: calc( var(--margin-vertical) * 7 );
    }
  }


.blog {
  margin-top: 0;
}

.blog .ul { 
  display: flex;
  flex-direction: column;
  gap: calc( var(--margin-vertical) * 2 );
  width: 100%;

  .link {
    height: fit-content; padding: 0;
  }

  .list .image {
    display: block;
    width: 100%;
    height: auto;
    margin-block: calc( var(--margin-vertical) * 1 );
    border-radius: var(--border-radius-II);

    @media (min-width: 768px) {
      margin-block: calc( var(--margin-vertical) * 1 );
    }

    &:focus-visible {
      outline: var(--outline-link-focus);
    }
  }
}