.ul {
  margin: calc(var(--margin-vertical) * 3) 0;

  @media (min-width: 768px), (orientation: landscape) {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--margin-horizontal) * 2);
  }

  .list {
    margin: calc(var(--margin-vertical) * 2) 0;
    display: flex; align-items: center;

    i {
      margin-right: calc(var(--margin-horizontal) / 3);
      color: var(--link-color);
      font-size: 1.5rem;
    }

    @media (min-width: 768px), (orientation: landscape) {
      margin: 0;
    }
  }
}

.link {
  padding: calc(var(--padding-vertical) / 2) 0;
  color: var(--color);
  white-space: nowrap;
  border-radius: var(--border-radius);
  font-size: 1.15rem;

  &:focus-visible {
    color: var(--link-color-focus);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--link-color-hover);
    }
  }
}